<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <% if (isLoggedIn()) { %>
        <form action="/sessions" method="post">
            <input type="hidden" name="_method" value="delete">
            <button>logout</button>
        </form>
        <p>logged in as <%= currentUser.email %> </p>
        <a href="/dishes/new">share a dish</a>
        <% } else { %>
            <nav>
                <a href="/login">login</a>
            </nav>
        <% } %>
        <a href="/">home</a>
    </header>
    <%- body %>
</body>
</html>