<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>share new dish</h1>
    <form action="/dishes" method="post">
        <label for="">title</label>
        <input type="text" name="title"/>
        <label for="">image url</label>
        <input type="text" name="image_url"/>
        <button>share</button>
    </form>
</body>
</html>