body {
    background-color: mistyrose;
}

.dishes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    width: 600px;
    margin: 0 auto;
}

.ui-card {
    background-color: floralwhite
}